<h1>Your Pipeline</h1><br>


<table width="100%">
	<% @rooms.each{|room| %>
		<tr>
			<td>
				<h1><%= room.name %></h1>				
				<% @plant_groups.where(current_room_id: room.id).each {|pg| %>
					<ul>
						<li><%= pg.nickname %> &nbsp;|&nbsp; <%= pg.clone_date %> &nbsp;|&nbsp; <%= pg.notes %></li>
					</ul>
				<% } %>
				<hr>
			</td>
		</tr>
	<% } %>
</table>