<!DOCTYPE html>
<html>
  <head>
    <title>TruckeeGrow</title>
    <link rel="shortcut icon" href="/images/root_nodes.png"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

<!-- BEGIN NAV -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/pipeline">Pipeline</a></li>
        <li><a href="/plant_groups">PlantGroups</a></li>
        <li><a href="/plant_group_updates">PlantGroupUpdates</a></li>
        <li><a href="/debug">Debug</a></li>
      </ul>
    </div>
  </div>
</nav>
<br><br><br><br>
<!-- END NAV -->


<!-- BEGIN BODY CONTAINER -->
<div id="main-container" class="container-fluid">
  <div class="row">
    <div class="container">
      
      <!--  main content -->
      <%= yield %>

    </div>
  </div>
</div>
<!-- END BODY CONTAINER -->
  
  
  </body>

</html>
