<!DOCTYPE html>
<html>
  <head>
    <title>Gt1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <div class="header-nav">
  			<table>
  			<tr>
  				<td>
  					&nbsp;
  				</td>
  				<td>
  					<a style="color:gray; text-decoration: none;" href="/pipeline">Your Pipeline &nbsp; </a>
  				</td>
  				<td>
  					<a style="color:gray;text-decoration: none;" href="/plant_groups">Plant Groups &nbsp; </a>
  				</td>
  				<td>
  					<a style="color:gray;text-decoration: none;"style="color:white;" href="/rooms">Rooms &nbsp; </a>	
  				</td>
  			</tr>
  			</table>
  </header-nav>

<br>
<br>

  <%= yield %>
  
  </body>

</html>
